.navbar {
    .btn-elegant{
        background-color:#212121 !important;
        box-shadow: none;
    }
}
.parallax-section {
    padding-top: 5%;
    
    min-height: 95vh;
    padding-bottom: 50px;
    .container {
        max-width: 80%;
        padding-top: 1%;
        h1{
            font-family: 'Abril Fatface', cursive;
            color: #fff3e0;
        }
    }
}

.parallax-section:nth-of-type(2n) {
    background-color: #37474F;
}

.parallax-section:nth-of-type(2n+1) {
    background-color: #4B515D;
}

.parallax-section:nth-of-type(4) {
    padding-top: 0;
}

.page-footer {
    margin-top: 0px !important;
}

.btn-link{
    background-color: #fff !important;
    color: #2e2e2e;
}

.btn-link:hover{
    color: #2e2e2e;
}

.row{
    margin-bottom: 20px;
}

#site-logo{
    width: 150px;
}

#events{
    background-image: url('../images/DM0NaOX-abstract-hd-wallpapers-1080p.jpg');
    background-attachment: fixed;
    .homepage-title{
        margin-top: 50px;
    }
    .carousel-img{
        height: 50vh;
    }
    .no-events{
        color: #2e2e2e;
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        padding: 20px;
    }
}

#about{
    h1{
        font-family: 'Abril Fatface', cursive;
        color: #2e2e2e;
    }
    background-image: url('../images/cool-background.png');
    padding-top: 10%;
    .jumbotron {
        background-color: rgba(255,255,255,0.2);
    }
}

#team{
    .card {
        background-color: rgba(255,255,255,0.2);
    }
}

#admin {
    margin-top: 50px;
}

#dashboard{
    
    .card-body {
        min-height: 27vh;
    }

    .table-container{
        height: 30vh;
    }

    .next-event{
        .card-body{
            h1{
                color: #000;
                font-size: 4em;
                display: inline-block;
            }
            h2{
                font-size: 3.5em;
                display: inline-block;
            }
        }
        
    }
}

#manage {
    margin-top: 50px;
    .form-paper{
        padding: 30px;

        .poster-preview{
            height: 100%;
            width: 50%;
        }
    }
}

#participant{
    .container{
        max-width: 100%;
        td, th {
            text-align: center;
        }
    }
}

.validation-error{
    font-size: 12px;
    color: lightcoral;
    text-align: center;
}

#error-toast {
    visibility: hidden;
    background-color: lightcoral;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 9999999;
    top:4%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .md-form{
      margin-bottom: 0px !important;
  }
  .form-control{
    margin-bottom: 10px !important;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #error-toast.show {
    visibility: visible; /* Show the snackbar */
  }

  #create-event-modal{
      .modal-dialog{
          max-width: 1000px;
          .stepper-body{
              padding: 5px 40px;
          }
      }
  }

  #register-event-modal{
    .modal-dialog{
        max-width: 1000px;
        .stepper-body{
            padding: 5px 40px;
        }
    }
}

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
    z-index: 1051;
    .spinner-border {
        position: relative;
        top: 50%;
        left: 50%;
    }
  }
  .pointer-none{
      pointer-events: none;
  }
  .event-name{
      color: #2e2e2e !important ;
  }
  .register-pg-title{
      background-color: rgba(0,0,0,0.5);
      padding: 10px;
      color: #fff;
    font-size: 24px !important;
  }
  .event-title-bold{
      font-weight: bold;
      font-size: 16px;
      color:#45526e   
  }
.buttons-row{
    padding-left: 5px;
}

  @media only screen and (max-width: 320px) {
    .homepage-title{
        margin-top: 50px !important;
        max-width: none !important;

    }
}