.navbar {
    .btn-elegant{
        background-color:#212121 !important;
        box-shadow: none;
    }
}
.parallax-section {
    padding-top: 5%;
    min-height: 95vh;
    padding-bottom: 50px;
    .container {
        max-width: 80%;
        padding-top: 1%;
        h1{
            font-family: 'Abril Fatface', cursive;
            color: #fff3e0;
        }
    }
}

.parallax-section:nth-of-type(2n) {
    background-color: #37474F;
}

.parallax-section:nth-of-type(2n+1) {
    background-color: #4B515D;
}

.parallax-section:nth-of-type(4) {
    padding-top: 0;
}

.page-footer {
    margin-top: 0px !important;
}

.btn-link{
    background-color: #fff !important;
    color: #2e2e2e;
}

.btn-link:hover{
    color: #2e2e2e;
}

.row{
    margin-bottom: 20px;
}

#about{
    padding-top: 10%;
    .jumbotron {
        background-color: rgba(255,255,255,0.2);
    }
}

#team{
    .card {
        background-color: rgba(255,255,255,0.2);
    }
}

#dashboard{
    .card-body {
        min-height: 27vh;
    }

    .table-container{
        height: 30vh;
    }

    .next-event{
        .card-body{
            h1{
                color: #000;
                font-size: 4em;
                display: inline-block;
            }
            h2{
                font-size: 3.5em;
                display: inline-block;
            }
        }
        
    }
}

#error-toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: lightcoral;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999999;
    left: 43%;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #error-toast.show {
    visibility: visible; /* Show the snackbar */
  }

  #create-event-modal{
      .modal-dialog{
          max-width: 1000px;
          .stepper-body{
              padding: 5px 40px;
          }
      }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
    z-index: 1051;
    .spinner-border {
        position: relative;
        top: 50%;
        left: 50%;
    }
  }
 